body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    overflow: hidden;
    margin: 0; 
    height: 100vh; 
    background-color: #fff; 
    color: #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.Preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 15px; 
}

.subject-button {
    display: block;
    width: 260px; 
    border: none;
    padding: 15px; 
    margin: 10px auto; 
    background-color: #000; 
    color: #fff; 
    border-radius: 30px; 
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; 
}

.subject-button:hover {
    background-color: #fff; 
    color: #000; 
}

@media (max-width: 768px) {
    .subject-button {
        padding: 10px 20px;
        font-size: 1em;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 50px; 
    background-color: black;
    color: white; 
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
